@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --clr-ocean-100: #80e5de;
  --clr-ocean-200: #56dcd3;
  --clr-ocean-300: #23a9a0;
  --clr-ocean-400: #1a7f78;
  --clr-ocean-500: #115550;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.page-title {
  @apply text-5xl font-extrabold leading-[1.15] text-black sm:text-5xl;
}

/* TAILWIND HELPER CLASSES */
/* Flexbox */
.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.header {
background-color: var(--clr-ocean-400);
-webkit-box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
}